#content
  article.hentry
    h2.entry-title
      a(href='/post.html', rel='bookmark') Post Title
    .meta
      span.author.vcard By 
        a.fn Paul
      span.comment 0 comments
    .entry-summary
      p sdfsdghsdghdh sdfsdf
      a.more_link(href='/post.html') Continue Reading...
  // nextprev
  .pagenav
    .next
      a(href='/') &laquo; Next Posts
    .prev
      a(href='/') Previous Posts &raquo;
